@import "tailwindcss";

:root {
  --background: #1d428a;
  --foreground: #ffffff;
  --accent: #FCAFC0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-nunito);
  --font-heading: var(--font-gabarito);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}